blue = #0A71B4
light-blue = #6FABD0
orange = #FAB647
bg-hero-pic = "../img/bg-hero.jpg"

form-width = 400px

@import 'bower_components/nib'

#menu
	position fixed
	top 0
	width 100%
	background rgba(256,256,256,.5)

body
	font-family: 'Raleway', sans-serif;
	font-weight 300
	font-size 18px
	label
		font-weight 300

h1,h2
	font-family 'Pathway Gothic One', sans-serif;
	
h2
	font-size 33px
	font-weight bold

nav
	margin-top 1em
	text-align left
	z-index 256
  position relative

//custom
#hero
	hero-height = 750px
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	height hero-height
	// background url(http://38.media.tumblr.com/7faa2e6ae724dc3ec38785c4b2b469d4/tumblr_njvrqeIcVC1s32l6vo1_500.gif) // yeah
	// background url(https://38.media.tumblr.com/02444a08baf94eb7f752a52fb9a60131/tumblr_mysu1a0SGx1qc66bjo1_500.gif) // water
	// background url(https://31.media.tumblr.com/b7239bc335ddf2ea615949d5beb92df8/tumblr_n8zzzoL4j31ssjkcoo1_400.gif) // onboard bow
	// background url(https://31.media.tumblr.com/20398da5be4aaa70a3f580d5b3d137b1/tumblr_myw1v9mksP1sczkxxo1_500.gif) // onboard left
	// background url(https://31.media.tumblr.com/891ef82199f28ffa58b213dd0e8e388b/tumblr_mpxrlto3sE1r1546xo1_500.gif) // swain
	// background url(http://media.giphy.com/media/jgoXPdVIluKM8/giphy.gif) // arr... ses
	background url('../img/3.jpg')
	// background url(http://media.giphy.com/media/XuwTEJcwuMYxO/giphy.gif) // relax
	// background url(https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=dd37be170e&attid=0.6&th=14c1429d855d620b&view=att&disp=inline&realattid=f_i77ugvm85&zw&saduie=AG9B_P_VsNaTshW1Hj9CiDsu1dgt&sadet=1426628200753&sadat=ANGjdJ_OfAwpXptUDxTDl7RbjapdlOBnL54r-uc3ruKpRKupCdJFJlgqMObC5FI&sads=rIVE-aGEh7QKav1PtMpmX4H-q8U)
	background-size cover
	background-position center
	margin 0
	padding-hero = 0px
	.logo
		// margin-top 1em
		position relative
		top 0
		z-index 255
		width 500px
	.hero-background
		background rgba(blue,0.4)
		//background linear-gradient(to bottom, rgba(125,185,232,0) 50%,rgba(48,137,197,0.8) 75%,rgba(10,113,180,0.8) 100%)
		position absolute
		width 100%
		height hero-height
		z-index 1
		top 0
	.container
		position relative
		z-index 256
		text-align center
	h1, h2, h3
		color white
		font-weight 300
	h1
		margin 0 auto
		padding .3em 0 0 padding-hero
		// text-transform uppercase
		// font-weight 800
		font-size 50px
	h3
		line-height: 1.3em;
		padding-left padding-hero
		margin-top 1.2em
		margin-bottom .5em
	label
		margin-top .6em
		margin-bottom .4em
	h3, label
		font-size 20px
		letter-spacing 1px

ul, li
	list-style-type none
	padding 0
	
#users
	background white
	color blue
	position relative
	padding 2em 0

#hero .container #mc_embed_signup
	padding-left: padding-hero;

.mc-field-group
	float left
	label
		margin-top: .3em;
	input
		padding 10px 7px
		height 45px
		border-radius: 5px
		border 0
		width form-width
		border 2px solid #d8d8d8
		background white

.btn-mailchimp
	color white
	background orange
	margin-top 1em
	&:hover
		color blue

.pattern
	opacity .2
	height 100%
	width 100%
	position absolute
	top 0
	left 0
	
.bottom-call
	color white
	background: light-blue
	padding 2em
	position relative
	
.centrati
	margin 0 auto 2em auto
	width 477px
	
.mc-field-group
	float none
	color white
	input
		color black

.description-icon
	img
		width 25%
		display inline-block

// .description-icon-guest
// 	background rgba(orange,0.8)
// 	border-radius 50%
// 	height 136px
// 	width 136px !important
// 	padding 10px
// 	display inline-block
// 	line-height 104px
// 	img
// 		width 45%
// 		display inline-block
		
select
	color: black;
	width: form-width;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	height: 45px;
	
.bordino-mail
	border 1px solid white
	padding 0 20px 20px 20px
	border-radius 10px
	width: 500px;
	margin: 0 auto;
	
footer
	display inline-block
	width 100%
	background blue
	color white	
	.icons
		font-size 30px
		a
			color white
			&:focus
				outline none

@media screen and (max-width: 610px)
	.bordino-mail
		border none
		padding 0
		border-radius 0
		width: auto
		margin: auto;
	
	#hero
		.logo
			width 80%
		h1
			font-size 40px
	#hero, .mc-field-group	
		input, select
			width 100%