@import 'bower_components/nib'

@font-face {
    font-family: Nexa Rust Sans;
    src: url(font/NexaRustSans-Black.otf);
}

#menu
	position fixed
	top 0
	width 100%
	background rgba(256,256,256,.5)

body
	font-family: 'Open Sans', sans-serif;
	font-weight 300
	label
		font-weight 300

h1, .sei-pronto
	font-family 'Nexa Rust Sans'
	
h2
	font-size 33px
	font-weight bold

//custom
#hero
	height 700px
	background url(img/ship2.jpg)
	background-size cover
	background-position center
	margin 0
	padding-hero = 40px
	h1, h3
		color white
		font-weight 300
	h1
		margin 0 
		padding 1em 0 0 padding-hero
		text-transform uppercase
		font-weight 800
		font-size 50px
	h3
		padding-left padding-hero

ul, li
	list-style-type none
	padding 0
	
#users
	background #283583
	color white
	position relative
	padding 2em 0

#hero .container #mc_embed_signup
	padding-left: 40px;

.mc-field-group
	float left
	label
		margin-top: 1em;
	input
		height: 45px;
		border-radius: 5px;
		border: 0;
		width 280px
		padding 5px;

.btn-mailchimp
	color white
	background orange
	margin-top .7em

.pattern
	background url(img/pattern.png)
	background-repeat repeat
	opacity .2
	height 100%
	width 100%
	position absolute
	top 0
	left 0
	
.bottom-call
	color white
	background: #171F51
	padding 2em
	position relative
	
.centrati
	margin 0 auto 2em auto
	width 477px
	
.mc-field-group
	float none
	color white
	input
		color black

.description-icon
	background rgba(255,255,255,0.8)
	border-radius 50%
	height 60px
	width 60px
	padding 10px

select
	color: black;
	width: 280px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	height: 45px;
	
.bordino-mail
	border 5px solid rgba(255,255,255,0.5)
	padding 0 20px 20px 20px
	border-radius 10px
	width: 500px;
	margin: 0 auto;
	
@media screen and (max-width: 610px)
	.bordino-mail
		border none
		padding 0
		border-radius 0
		width: auto
		margin: auto;